@{
    ViewBag.Title = "About";
}

<h3>O nama</h3>

<p>Primarijus Dr sci Milica Kaluđerović, cijeli svoj životni vijek posvetila je razvijanju crnogorske pedijatrije. Nakon završenih osnovnih i  specijalističkih studija u Beogradu vratila se u svoj Nikšić. Svojim znanjem, ljubavlju prema svom poslu, toplim i prijateljskim odnosom prema pacijentima marljivo je radila na poboljšanju kako prevencije tako i liječenja najmlađe populacije grada. Konstantno se trudila da u svoju malu sredinu donese savremenost i prosvećenost prateći najnovija svjetska dostignuća iz pedijatrije.

Osim što je  bila prepoznata kao snažan harizmatičan i posvećen ljekar, krasile su je i sjajne organizacione sposobnosti, pa joj je kao jako mladom ljekaru povjereno da vodi dječji dispanzer u Nikšiću. Noseći breme svog nemirnog, istraživačkog duha stremila je novim i daljim stručnim izazovima koji su je poveli u Dječju bolnicu u Podgorici. Okružena sjajnim timom ljekara i inspirisana novim idejama uspijeva da oformi centar za neonatologiju, koji je i danas jedan od najreprezentativnijih  segmenata crnogorskog zdravstva. Njen duh opet traži nešto novo. Uprkos stručnom i naučnom uspjehu i skeptičnosti porodice prijatelja i kolega osniva jednu od prvih privatnih zdravstvenih ustanova u Crnoj Gori. Iako već zreo ljekar, stasao  u socializmu vizionarski prepoznaje nove mogućnosti razvoja, postavljajući nove standarde dotada nepoznate u našoj zemlji.

Privatna  zdravstvena ustanova "Medica" osnovana je 1993. godine. Pionir privatne prakse u Crnoj Gori, tada je bila skromna pedijatrijska  ambulanta sa dvoje zaposlenih. Ubrzo nakon osnivanja ustanove počela je sa radom i Biohemijska laboratorija u Nikšiću što je značajno proširilo i poboljšalo kvalitet medicinskih usluga. U novootvorenoj ordinaciji su se liječili pacijenti iz cijele Crne Gore što je podstaklo Dr Kaludjerović da 1994. godine osnuje ordinaciju i u Budvi. Zbog brojnih i zadovoljnih pacijenata i u novoj sredini Medica postaje pečat grada.

Pedijatrija je i dalje osnovna djelatnost. Njen tim čini danas šest ljekara koji uz podršku savremene biohemijske laboratorije i komforne dnevne bolnice zbrinjavaju značajan dio dječje patologije. Pedijatar je ovdje praktično porodični ljekar, jer  dobro poznaje stanje i konstantno se brine o stalnim pacijentima i dostupan im je 24 časa. Takva je praksa i prema svim drugim pacijentima, kojima nastojimo da uvijek budemo dostupni ne samo u liječenju već i pružanjem savjeta. To nam je opredjeljenje od samog početka i uvijek nastojimo da to pacijenti konkretno i osjete.

U biohemijskoj laboratoriji radimo brojne hematološke, biohemijske i imuno-hemijske analize. Prateći potrebe savremene dijagnostike, u stalnoj koordinaciji sa doktorima, konstantno uvodimo nove analize  koje se rade najnovijim metodama. U laboratoriji je uvijek na raspolaganju specijalista kliničke biohemije, sa kojim pacijenti mogu porazgovarati u cilju stručnog tumačenju uradjenih analiza.

Specifičnost ordinacije u Budvi je ambulanta opšte medicine sa kućnim liječenjem i specijalistička ambulanta iz pedijatrije u kojim se tretira kompletna "ljetnja patologija". S obzirom da se radi o turističkom mjestu trudili smo se da odgovorimo zahtjevima turista, da na najbolji i najkomforniji način riješe svoje probleme. To podrazumijeva brzo i efikasno zbrinjavanje povreda i dijagnostiku respiratornih, crijevnih i svih ostalih oboljenja djece i odraslih. Ordinacija je organizovana po principu dnevne bolnice pa pacijenti mogu primiti i infuzionu terapiju u komfornim sobama uz ljekarski nadzor. Takođe smo organizovali i mobilne ekipe sa doktorom i sestrom za neophodne kućne posjete što je priviklo brojne pacijente turiste iz inostranstva.
    <br />
    <br />
    <strong>Novo!</strong>
    <br />
    Od sada sve nase usluge mozete zakazati i putem nase web aplikacije.
    
    </p>
