@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>

<h3>Adresa centra</h3>
<address>
    
    Klinicki centar Medica<br />
    81000 Podgorica, Montenegro<br />
    Dzordza Vasingtnoa, bb <br/>
</address>

<address>
    <strong>Podrska:</strong>   <a href="mailto:Support@example.com">podrska@medica.com</a><br />
    <strong>Osoblje centra:</strong> <a href="mailto:Marketing@example.com">centar@medica.com</a>
</address>

<address>
    <strong>Telefon: 020 311 355</strong><br />
    <strong>Mobilni: 069 311 355</strong><br />
    <strong>Broj podrske: 068 311 355</strong>

</address>